solution ZiP/Workflows/sendaemailtoemployeeaboutasset-955B2225-A604-F111-8407-000D3ACA4DD6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_78e12"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "xcel_sharedoffice365_7f290"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "f45de555-d222-4aa5-9abb-de83c846307b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "xcel_request",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "List_rows": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "xcel_assetses",
                  "$filter": "xcel_emp_name eq '@{triggerOutputs()?['body/Emp_name']}'\nand xcel_asset_type eq 882100001\nand xcel_reason eq 882100000\n"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Compose": {
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@length(body('List_rows')?['value'])\r\n"
            },
            "Condition_1": {
              "actions": {
                "Send_an_email_(V2)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "@triggerOutputs()?['body/xcel_employee_email']",
                      "emailMessage/Subject": "Mobile Asset Request Rejected\n",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">Dear Employee,<br><br>As per IT policy, an employee cannot hold more than two mobile devices at the same time.<br><br>Our records show that you already have two mobile devices assigned.<br>Hence, your new mobile request cannot be processed.<br><br>Regards,<br>IT Asset Team</p><br>",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "SendEmailV2",
                      "connectionName": "shared_office365"
                    }
                  }
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_(V2)_1": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "@triggerOutputs()?['body/xcel_employee_email']",
                        "emailMessage/Subject": "Mobile Asset Request Rejected\n",
                        "emailMessage/Body": "<p class=\"editor-paragraph\">Dear Employee,<br><br>As per IT policy, an employee cannot hold more than two mobile devices at the same time.<br><br>Our records show that you already have two mobile devices assigned.<br>Hence, your new mobile request cannot be processed.<br><br>Regards,<br>IT Asset Team<br></p><br>",
                        "emailMessage/Importance": "Normal"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "operationId": "SendEmailV2",
                        "connectionName": "shared_office365"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@int(outputs('compose'))",
                      2
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/xcel_asset_type']",
                  882100001
                ]
              }
            ]
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}